@import '../../styles/colors.scss';

%transition-a-tag {
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
  color: $white-color;
  transition: all 0.3s ease;

  &:hover {
    color: $primary-color;
    transition: all 0.3s ease;
  }
}

.sidebar {
  position: absolute;
  width: 17em;
  height: 107vh;
  top: 0;
  overflow: hidden;
  background-color: $primary-color;
  visibility: visible;

  header {
    width: 100%;
    display: block;
    padding: 0.75em 1em;
  }
}

.sidebar-nav {
  height: 100%;
  font-weight: 400;
  font-size: 1.2em;
  overflow: auto;
  padding-bottom: 6em;
  z-index: 9;
  overflow: hidden;

  ul {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;

    li {
      margin-left: 0;
      padding-left: 0;
      display: inline-block;
      width: 100%;

      a {
        color: $white-color;
        font-size: 0.95em;
        padding: 1.05em 1em;
        position: relative;
        display: block;
        &:hover {
          background-color: $hover-color;
        }
        i {
          font-size: 1.8em;
          padding-right: 0.5em;
          display: inline;
          vertical-align: middle;
        }
      }
    }
  }
  .badge {
    color: $white-color;
    border-radius: 50%;
    margin-left: 1em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    text-align: center;
    line-height: 1.5em;
    background: #ed522f;
  }
}
